Architecture: amd64
Depends: irods-server (>= 5.0.0), irods-runtime (>= 5.0.0), libzmq5
Description: iRODS L3KVG Database Plugin
Maintainer: Gemini
Package: irods-database-plugin-l3kvg
Priority: optional
Section: contrib/science
Version: 5.0.0
Installed-Size: 13507

